<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>拉勾网管理系统</title>
  <link rel="stylesheet" href="/scripts/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/style.css">
  <script src="/scripts/jquery.min.js"></script>
  <script src="/scripts/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
  <%- include('header') %>
  <%- include('signin') %>
  <%- include('signup') %>
  <%- include('poslist') %>
  <%- include('posadd') %>
  <%- include('update') %>
</body>
</html>
